{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  	<h1 class="display-4">AboutMe</h1>
 	 <p class="lead"> I'm young entrepreneur, developer and offensive security researcher</p>
  	<hr class="my-4">
  	<p>Co-founder of Ecos. I consider myself to be a very creative and committed person. As an entrepreneur, I have a natural passion for innovative projects that stand out for being creative and unique. I have developed projects for Web, Windows,Linux and RPi. I have advanced programming experience with C++, Ruby, Python. I have worked with cross-platform engines & many frameworks (Node, Spring, MVC, Hibernate, Ionic, React). I have acquired great skills and experience managing a startup company. Looking forward to new challenges..</p>
  	<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}